/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}
nav.navbar-bitworldnav2 { background: black; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-bitworldnav2 a { color: white; }
nav.navbar-bitworldnav2 ul.navbar-nav a { color: white; border-style: solid; border-width: 0 0 2px 0; border-color: black; }
nav.navbar-bitworldnav2 ul.navbar-nav a:hover,
nav.navbar-bitworldnav2 ul.navbar-nav a:visited,
nav.navbar-bitworldnav2 ul.navbar-nav a:focus,
nav.navbar-bitworldnav2 ul.navbar-nav a:active { background: black; }
nav.navbar-bitworldnav2 ul.navbar-nav a:hover { border-color: #f14444; }
nav.navbar-bitworldnav2 li.divider { background: #ccc; }
nav.navbar-bitworldnav2 button.navbar-toggle { background: white; border-radius: 2px; }
nav.navbar-bitworldnav2 button.navbar-toggle:hover { background: #999; }
nav.navbar-bitworldnav2 button.navbar-toggle > span.icon-bar { background: black; }
nav.navbar-bitworldnav2 ul.dropdown-menu { border: 0; background: black; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-bitworldnav2 ul.dropdown-menu > li > a { color: white; }
nav.navbar-bitworldnav2 ul.dropdown-menu > li > a:hover { background: #f14444; color: white; }
nav.navbar-bitworldnav2 span.badge { background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-bitworldnav2 span.badge.new { background: rgba(255, 0, 0, 0.8); color: black; }

nav.navbar-bitworldnav { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-bitworldnav a { color: #f14444; }
nav.navbar-bitworldnav ul.navbar-nav a { color: #f14444; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-bitworldnav ul.navbar-nav a:hover,
nav.navbar-bitworldnav ul.navbar-nav a:visited,
nav.navbar-bitworldnav ul.navbar-nav a:focus,
nav.navbar-bitworldnav ul.navbar-nav a:active { background: #fff; }
nav.navbar-bitworldnav ul.navbar-nav a:hover { border-color: #f14444; }
nav.navbar-bitworldnav li.divider { background: #ccc; }
nav.navbar-bitworldnav button.navbar-toggle { background: #f14444; border-radius: 2px; }
nav.navbar-bitworldnav button.navbar-toggle:hover { background: #999; }
nav.navbar-bitworldnav button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-bitworldnav ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-bitworldnav ul.dropdown-menu > li > a { color: #444; }
nav.navbar-bitworldnav ul.dropdown-menu > li > a:hover { background: #f14444; color: #fff; }
nav.navbar-bitworldnav span.badge { background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-bitworldnav span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
